// COLORS

$default-text-color: #333333;
$cto-orange: #ff4c00;
$cto-blue: #00a6ce;
$cto-blue-secondary: #007da4;
$cto-red: #ed1b2e;
$cto-green: #3bb54a;
$cto-gray: #999;
$primary-color: #333;
$box-shadow-gray: #dedede;

$danger-text: rgb(202, 60, 60);

$opacity: 0.6;
$half-opacity: $opacity*0.5;

// MEDIA QUERY SCREEN SIZE
$small-screen-min: 568px;
$medium-screen-min: 768px;
$large-screen-min: 1024px;
$xlarge-screen-min: 1280px;

$xsmall-screen-max: 567px;
$small-screen-max: 767px;
$medium-screen-max: 1023px;
$large-screen-max: 1279px;
