<footer>
  <nav class="footer-nav">
    <ul>
      <li class="footer-nav-item"><a href="#" title="About us">About us</a></li>
      <li class="footer-nav-item"><a href="#" title="Contact Us">Contact Us</a></li>
      <li class="footer-nav-item"><a href="#" title="Code of conduct">Code of conduct</a></li>
    </ul>
  </nav>
  <div class="copyright">
    Copyright &copy; 2020 CTO Connection, All rights Reserved
  </div>
</footer>
