<header>
  <div class="logos">
    <a href="#" title="CDx Connection" class="cdx-logo">
      <img src="img/cdx-logo.svg" alt="CDx Connection">
    </a>

    <%= link_to image_tag("https://s3.amazonaws.com/ctoconnection/header/logo.svg"),
                '#', id: 'logo-image' %>
    <span class="separator"></span>
    <a href="#" title="Partnership with AWS" class="partner-logo">
      <img src="img/aws-logo.svg" alt="Partnership with AWS">
    </a>
  </div>

  <nav class="header-nav">
    <ul>
      <li class="header-nav-item active"><a href="#" title="Home">Home</a></li>
      <li class="header-nav-item"><a href="#" title="About">About</a></li>
      <li class="header-nav-item"><a href="#" title="Events">Events</a></li>
      <li class="header-nav-item"><a href="#" title="Register">Register</a></li>
      <li class="header-nav-item"><a href="#" title="Contact">Contact</a></li>
    </ul>
  </nav>

  <div class="hamburger-menu" id="hamburger-menu">
    <i class="fas fa-bars"></i>
  </div>
</header>
